<?xml version="1.0" encoding="UTF-8" ?>

<launch>

    <arg name="map_file" default="$(find iris_model)/maps/first_test_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen" >
        <remap from="scan" to="/iris_model/laser/scan" />
        <!-- <param name="use_map_topic" value="true"/> -->
        <param name="odom_frame_id" value="odom" />
        <param name="odom_model_type" value="diff-corrected" />
        <param name="base_frame_id" value="chassis_link" />
        <param name="update_min_d" value="0.1" />
        <param name="update_min_a" value="0.2" />
        <param name="min_particles" value="500"/>
    </node>

    <include file="$(find iris_model)/launch/move_base.launch" />

</launch>