<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="rviz" default="false" />
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find iris_model)/world/empty_world.world" />

    <!-- include gazebo_ros launcher -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)" />
        <arg name="use_sim_time" value="true" />
    </include>

    <!-- set params -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find iris_model)/urdf/robot.xacro" />

    <group if="$(arg rviz)" >
        <!-- rviz state values -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <!-- rviz joint values -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="False"/>
        </node>

        <!-- rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iris_model)/launch/config.rviz"/>
    </group>

    <!-- spawn in gazebo -->
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model iris_model -x 0 -y 0 -z 0.5" />

</launch>